body {
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand {
	font-size: 25px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#automaton {
	font-size:40px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: coral;
    font-weight: bold;
}

#wf-name-label {
	font-size:17px;
}

.field-error{
	color: red;
}

header
{
	background-attachment: scroll;
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: #fff;
	moz-background-size: cover;
	o-background-size: cover;
	text-align: center;
	webkit-background-size: cover;
	margin-bottom: 300px;
}
header .intro-text .intro-lead-in
{
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	font-style: italic;
}
header .intro-text .intro-heading
{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
@media (min-width:768px)
{
	header .intro-text
	{
		padding-bottom: 50px;
		padding-top: 100px;
	}
	header .intro-text .intro-lead-in
	{
		font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 35px;
		font-style: italic;
		line-height: 40px;
		margin-bottom: 25px;
	}
	header .intro-text .intro-heading
	{
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 50px;
		font-weight: 700;
		line-height: 75px;
		margin-bottom: 50px;
		text-transform: uppercase;
	}
}

.tabs {
	color: #00BFFF;
	font-size: 17px;
	font-weight: 700;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 14px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:100px;
    width:15%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width:250px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

list-group-item {
	margin:10px;
}

#wf-save-btn,#wf-cancel-btn {
	margin:15px;
}

#wf-exec-btn {
	margin:15px;
}

#database {
	color: #fed136;
}

#soap {
	color: #01FF70;
}

#rest {
	color: #7FDBFF;
}

#shell {
	color: #DA70D6;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.entry:not(:first-of-type) { margin-top: 10px; } .glyphicon { font-size: 12px; }

.btn-primary
{
	background-color: #fed136;
	border-color: #fed136;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
{
	background-color: #fec700;
	border-color: #f6bf01;
	color: #fff;
}
.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
{
	background-image: none;
}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active
{
	background-color: #fed136;
	border-color: #fed136;
}
.btn-primary .badge
{
	background-color: #fff;
	color: #fed136;
}
.btn-success
{
	background-color: #2ECC40;
	border-color: #2ECC40;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success
{
	background-color: limegreen;
	border-color: limegreen;
	color: #fff;
}
.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success
{
	background-image: none;
}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active
{
	background-color: #2ECC40;
	border-color: #2ECC40;
}
.btn-success .badge
{
	background-color: #fff;
	color: #2ECC40;
}
.btn-info
{
	background-color: #7FDBFF;
	border-color: #7FDBFF;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info
{
	background-color: #39CCCC;
	border-color: #39CCCC;
	color: #fff;
}
.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info
{
	background-image: none;
}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active
{
	background-color: #7FDBFF;
	border-color: #7FDBFF;
}
.btn-info .badge
{
	background-color: #fff;
	color: #7FDBFF;
}
.btn-warning
{
	background-color: #DA70D6;
	border-color: #DA70D6;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning
{
	background-color: #800080;
	border-color: #800080;
	color: #fff;
}
.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning
{
	background-image: none;
}
.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active
{
	background-color: #DA70D6;
	border-color: #DA70D6;
}
.btn-warning .badge
{
	background-color: #fff;
	color: #DA70D6;
}

#wf-save-btn, #wf-cancel-btn {
	margin-bottom:70px;
}

#db-step-btn, #shell-step-btn, #rest-step-btn, #soap-step-btn {
	margin-left:100px;
	margin-top: 10px;
	margin-bottom: 10px;
	width:400px;
}

.page{
  max-width: 60em;
  margin: 0 auto;
}
table th,
table td{
  text-align: left;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
}

table.display th{ 
	background: black;
	font-size:17px;
 }
table.display td{ 
	background: black;
	font-color:dimgrey;
	font-size:15px; 
	font-weight:350;
}

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 30em){
    table.responsive-table{
      box-shadow: none;  
    }
    table.responsive-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
    
  table.responsive-table td:nth-child(1):before{
    content: 'Number';
  }
  table.responsive-table td:nth-child(2):before{
    content: 'Name';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2){
    padding-left: 25%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before{
    position: absolute;
    left: .5em;
    font-weight: bold;
  }
  
    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    table.responsive-table td.tb-number{
        background: #D5E0CC;
        border-top: 1px solid #B3BFAA;
    }
    table.responsive-table td.actions{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
    }
    .tb-action{
        background: red;
    }
}

.tb-action{
	color: limegreen;
	margin: 10px;
}

.step-field.invalid{
	border: 2px solid red;
}

.step-field.valid{
	border: 2px solid green;
}

#input-step-type{
	width:100px;
}

#input-step-field {
	width:150px;
}

#input-exec-type{
	width:100px;
}

#input-exec-field {
	width:180px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
#exec-canvas {
	margin:10px;
}
